@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
}
html {
  background-color: #000000;
}
.logo {
  width: 120px;
  height: 30px;
  background-image: url('../public/assets/vercel.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.itemTile {
  width: 20vw;
  height: 30vw;
}
.item-tile-hover-animation:hover {
  animation: item-hover-animation 1s ease forwards;
}
@keyframes item-hover-animation {
  100% {
    transform: translateY(-10px);
  }
}
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b854ff;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7833a8;
}
::-webkit-scrollbar-corner {
  color: #000000;
}
.bring-to-top {
  z-index: 100;
}
